
*{
    font-family: 'Baloo Chettan 2', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Inconsolata', monospace;

}

.container {
    display: grid;
    grid-template-columns: 320px 200px;
    justify-content: center;
    margin-top: 100px;
}


#board {
    border: 2px solid black;
}

.play-btn {
    background-color: greenyellow;
    font-size: 16px;
    padding: 30px 30px;
    cursor: pointer;
}